{% extends 'countries/base.html' %}
{% load django_bootstrap5 %}
{% block content %}
<div class="row justify-content-center mt-5">
    <div class="col-md-6">
        <div class="card p-4 shadow border-0 rounded-4">
            <h3 class="fw-bold mb-4 text-center">
                {% if country %}{{ country.name }}{% else %}Новая страна{% endif %}
            </h3>
            <form method="post">
                {% csrf_token %}
                {% bootstrap_form form %}
                <button type="submit" class="btn btn-primary w-100 btn-lg mt-3 rounded-pill">Сохранить</button>
                <a href="{% url 'list' %}" class="btn btn-link w-100 text-muted mt-2">Назад к списку</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}